name: ToDo Backend Deployment

trigger: none
# - main

pool: Agent_01_Dec2025

variables:
  - group: CONNECTION_STRING

stages:
  - stage: BuildStage
    displayName: Build Stage
    jobs:
    - job: BuildAPI
      displayName: Build API
      steps:
      - task: PublishPipelineArtifact@1
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)'
          artifact: 'Artifact-Backend'
          publishLocation: 'pipeline'

  - stage: DeployStage
    displayName: Deploy Stage
    jobs:
      - deployment: 
        environment:
          name: dev-todo-api
          # resourceName: 
          resourceType: virtualMachine
        strategy:
          runOnce:
            deploy:
              steps:
              - task: DownloadPipelineArtifact@2
                displayName: Download Artifacts to VM
                inputs:
                  buildType: 'current'
                  targetPath: '/tmp/'              
              - task: Bash@3
                displayName: Deploy FastAPI App
                env:
                  CONNECTION_STRING: ${CONNECTION_STRING}
                inputs:
                  targetType: 'inline'
                  script: |
                    set -e
                    echo "=== Copy application files ==="
                    mkdir -p /home/adminuser/todo-api
                    cp -r /tmp/Artifact-Backend/* /home/adminuser/todo-api/
                    cd /home/adminuser/todo-api   
                    
                    echo "=== Deployment Completed Successfully ==="


